<div class="submit p-grid p-nogutter p-dir-col">
    <div class="repos-header">
        <h2>My Github Repos</h2>
        <hr />
        <a (click)="onLoginGithub()" *ngIf="!(githubRepos?.length > 0)"><i class="fa fa-github"></i>&nbsp;Connect to
            Gihub</a>
        <hr *ngIf="!(githubRepos?.length > 0)" />
    </div>
    <div *ngIf="searching" class="p-grid">
        <p-progressSpinner class="p-col"></p-progressSpinner>
    </div>
    <div *ngIf="githubRepos?.length > 0 && !searching">
        <app-repo *ngFor="let repo of githubRepos" [repo]="repo">
            <div repo-buttons>
                <button pButton (click)="buttonAction(repo)" [disabled]="processing[repo.id]"
                    [icon]="processing[repo.id] ? 'pi pi-spin pi-spinner' : (checkButtonAction(repo.status) ? '' :'pi pi-times')"
                    [label]="checkButtonAction(repo.status) ? 'Submit' : 'Delete'"
                    [class]="checkButtonAction(repo.status) ? 'ui-button-success' : 'ui-button-danger'"></button>
            </div>
        </app-repo>
    </div>
    <p-dialog [(visible)]="showRepoSubmitModal" [style]="{width: '650px','max-height': '100%'}" [maximizable]="false"
        [modal]="true" [responsive]="true" [resizable]="false" header="Submit Repository" [closable]="true">
        <div class="submit-dialog-wrapper">
            <app-submit-repo-form *ngIf="repoSubmit" [showHeader]="false" [repoSubmit]="repoSubmit"
                (onSubmit)="onConfirm($event)" (onCancel)="showRepoSubmitModal = false">
            </app-submit-repo-form>
        </div>
    </p-dialog>
</div>