:host ::ng-deep {
    .submit {
        .repo-fields{
            margin-top: 50px;
            div {
                margin: auto;
            }
            .submit-form-wrapper{
                display: flex;
                .ui-inputtext{
                    width: 100%;
                }
            }
        }
        .repos-header {
            margin-bottom: 20px;

            a {
                cursor: pointer;
            }
        }

        p-progressSpinner {
            text-align: center;
        }

        .confirmation-toast {
            .ui-toast-message {
                background-color: white !important;
            }
        }
    }

    .submit-dialog-wrapper {
        height: 100%;
        overflow-y: auto;
    }
}
