:host ::ng-deep {
    .submit {
        .repos-header {
            margin-bottom: 20px;

            a {
                cursor: pointer;
            }
        }

        p-progressSpinner {
            text-align: center;
        }

        .confirmation-toast {
            .ui-toast-message {
                background-color: white !important;
            }
        }
    }

    .submit-dialog-wrapper {
        height: 100%;
        overflow-y: auto;
    }
}
