<p-card class="repo-card p-col" styleClass="p-grid">
    <div class="p-grid p-nogutter">
        <div class="p-col p-grid  p-dir-col p-nogutter p-justify-center">
            <h4 *ngIf="repo.name">{{repo.name}}</h4>
            <span *ngIf="repo.url"><a [href]="repo.url">{{repo.url}}</a></span>
            <p *ngIf="repo.description">{{repo.description}}</p>
            <div *ngIf="repo.status" class="repo-status p-grid p-nogutter p-align-center">
                <span pTooltip="status" class="dot" [ngClass]="checkColor(repo.status)"></span>
                <span>{{repo.status}}</span>
            </div>
        </div>

        <ng-content select=".buttons"></ng-content>
    </div>
</p-card>
