<p-card class="repo-card p-col" styleClass="p-grid">
    <div class="p-grid p-nogutter">
        <div class="p-col-12 p-md-9 p-grid p-dir-col p-nogutter p-justify-center">
            <h3 *ngIf="repo.properties.name" style="margin: .5em 0;">
                <i class="fa fas fa-book" style="padding-right: .5em;"></i>
                <a [href]="repo.url" target="blank">{{repo.properties.name}}</a>
            </h3>
            <p *ngIf="repo.description"><b>Summary: </b>{{repo.description}}</p>
            <div class="octicon-wrapper">
                <a href="{{repo.url}}/issues">
                    <svg class="octicon" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 011.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path></svg>
                    <p class="octicon">{{repo.issueMsg}}</p>
                </a>
            </div>
            <div class="data-wrapper">
                <div class="comp">
                    <h5 class="title">Owner</h5>
                    <app-github-user-card [user]="repo.properties.owner"></app-github-user-card>
                </div>
                <div *ngIf="repo.authors?.length" class="comp">
                    <h5 class="title">Authors</h5>
                    <span *ngFor="let author of repo.authors" class="badge">{{author.name}}</span>
                </div>
                <div *ngIf="repo.keywords?.length" class="comp">
                    <h5 class="title">Keywords</h5>
                    <span *ngFor="let word of repo.keywords" class="badge">{{word}}</span>
                </div>
            </div>
            <div class="badges-wrapper">
                <span *ngIf="repo.language" class="badge">{{repo.language}}</span>
                <span class="badge star">
                    <i class="fa fas fa-star"></i>
                    {{repo.properties.stargazers_count}}
                </span>
                <span class="badge blue">
                    <i class="fa fas fa-code-fork"></i>
                    {{repo.properties.forks_count}}
                </span>
                <span *ngIf="repo.lastUpdate">
                    Updated {{repo.lastUpdate|timeAgo}}
                </span>
            </div>

            <div *ngIf="repo.status" class="repo-status p-grid p-nogutter p-align-center">
                <span pTooltip="status" class="dot" [ngClass]="checkColor(repo.status)"></span>
                <span>{{checkStatusMessage(repo.status)}}</span>
            </div>
        </div>
        <div class="p-col-12 p-md-3 p-grid p-dir-col p-nogutter" style="padding: 1em 0;">
            <ng-content select="[repo-buttons]"></ng-content>
        </div>
    </div>
</p-card>
