:host {
  .header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 72px;
    padding: 0 50px;
    border-bottom: 1px solid rgba(46, 41, 78, 0.1);
    box-shadow: 0 2px 8px 0 rgba(46, 41, 78, 0.1);
    background-color: #f4f4f6;

    .header-logo {
      font-size: 2.5em;
      color: #bdbdbd;
      display: flex;
      .logo {
        height: 50px;
      }

      .logo:hover {
        cursor: pointer;
      }

      .title {
        flex: 1;
        font-size: 0.4em;
        color: #4c4481;
        padding-left: 0.4em;
        word-break: break-word;
      }
    }

    button {
      font-weight: bold;
    }

    .header-nav-wrap {
      text-align: right;

      .header-main-nav {
        display: inline-flex;
        list-style: none;
        margin: 0 1rem 0 0;
        height: 100%;

        a {
          display: flex;
          padding: 0 2em;
          align-items: center;
          font-weight: normal;
          transition: color 0.5s ease;
          color: inherit;
          border-bottom: 3px solid transparent;
          transition: 300ms border-color;
          position: relative;

          .header-main-nav.child {
            display: none;
            position: absolute;
            right: 0;
            bottom: -100px;
            width: 200px;
            background-color: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            padding: 0.5em;
            height: auto;
            a {
              padding: 0.5em;
            }
          }
          &:hover{
            .header-main-nav.child {
              display: block;
            }
          }
        }
        
        .smoothscroll:hover {
          border-color: #2e294e;
          cursor: pointer;
        }
      }
    }
  }
}
