@import "../../../styles/responsive_vars";

:host {
  .header {
    position: fixed;
    z-index: 900;
    width: 100%;
    height: 72px;
    padding: 0 50px;
    border-bottom: 1px solid rgba(46, 41, 78, 0.1);
    box-shadow: 0 2px 8px 0 rgba(46, 41, 78, 0.1);
    background-color: #f4f4f6;

    .header-logo {
      font-size: 2.5em;
      color: #bdbdbd;
      display: flex;
      .logo {
        height: 50px;
      }

      .logo:hover {
        cursor: pointer;
      }

      .title {
        flex: 1;
        font-size: 0.4em;
        color: #4c4481;
        padding-left: 0.4em;
        word-break: break-word;
      }
    }

    button {
      font-weight: bold;
    }

    .header-nav-wrap {
      text-align: right;

      .header-main-nav {
        display: inline-flex;
        list-style: none;
        margin: 0 1rem 0 0;
        height: 100%;

        a {
          display: flex;
          padding: 0 2em;
          align-items: center;
          font-weight: normal;
          transition: color 0.5s ease;
          color: inherit;
          border-bottom: 3px solid transparent;
          transition: 300ms border-color;
          position: relative;

          .header-main-nav.child {
            display: none;
            position: absolute;
            right: 0;
            bottom: -100px;
            width: 200px;
            background-color: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            padding: 0.5em;
            height: auto;
            a {
              padding: 0.5em;
            }
          }
          &:hover {
            .header-main-nav.child {
              display: block;
            }
          }
        }

        .smoothscroll:hover {
          border-color: #2e294e;
          cursor: pointer;
        }
      }
    }

    .header-collapse-menu {
      display: none;
      .collapse-button {
        background-color: transparent;
        border: none;
        font-size: 2em;
        height: 100%;
        width: 100%;
        padding: 0.5em;
      }
    }
  }
  @media screen and (max-width: 1040px) {
    .header {
      padding: 0 1em;
      .header-logo {
        .title {
          font-size: 0.5em;
        }
      }
      .header-nav-wrap {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.9);
        border-top: 1px solid #e0cece;
        border-bottom: 1px solid #e0cece;
        height: 100vh;
        overflow-y: scroll;
        padding-bottom: 80px;
        margin-bottom: -80px;
        .header-main-nav {
          display: block;
          width: 100%;
          text-align: center;
          height: auto;
          a {
            width: 100%;
            padding: .6em;
            display: block;
            &:not(:last-child) {
              border-bottom: 1px solid #e0cece;
            }
            .header-main-nav.child {
              display: block;
              position: initial;
              box-shadow: none;
              width: 100%;
              padding: 0.2em 0;
              a {
                border: none;
                font-size: 0.8em;
                background-color: #f5f5f5;
                display: inline-block;
                border-radius: 0.5em;
                padding: 0.5em 0.3em;
                margin: 0.2em;
                width: auto;
                min-width: 100px;
              }
            }
          }
        }

        .btn-session {
          width: 100%;
          border-radius: 0;
          margin: 0.5em 0;
        }

        &.show {
          display: block;
        }
      }
      .header-collapse-menu {
        display: block;
      }
    }
  }
}
