<!-- header
================================================== -->
<header class="header p-grid p-nogutter">
    <div class="header-logo p-col p-grid p-nogutter p-align-center">
        <img (click)="goToHome()" src="/assets/img/logo.png" class="logo" />
    </div>

    <nav class="p-col-fixed p-grid p-nogutter p-align-center header-nav-wrap">
        <div class="header-main-nav">
            <a class="smoothscroll" href="#home" title="home">Home</a>
            <a class="smoothscroll" href="#about" title="about">About</a>
            <a class="smoothscroll" href="#pricing" title="pricing">Pricing</a>
            <a class="smoothscroll" href="#repos" title="repos">Repos</a>
            <a class="smoothscroll" [routerLink]="['/papers']" title="papers">Papers</a>
        </div>
        <ng-template [ngIf]="!isLoggedIn">
            <button (click)="login()" pButton label="Sign in with Orcid"
                class="ui-button-rounded ui-button-success"></button>
        </ng-template>
        <ng-template [ngIf]="isLoggedIn">
            <button (click)="logOutPage()" pButton label="Logout" class="ui-button-rounded ui-button-danger"></button>
        </ng-template>
        <div class="header-main-nav">
            <a target="_blank" class="nav-item nav-link" href="https://github.com/journal-of-research-objects">
                <img src="/assets/img/github.svg">
                <div class="header-main-nav child">
                    <a class="smoothscroll" href="https://github.com/journal-of-research-objects" title="Go to the
                    Journal code">Go to the Journal code</a>
                    <a class="smoothscroll" href="https://github.com/journalofresearchobjects"
                        title="Go to the Published Papers">Go to the Published Papers</a>
                </div>
            </a>
        </div>

    </nav>
</header> <!-- /header -->