<!-- header
================================================== -->
<header class="header p-grid p-nogutter">
    <div class="header-logo p-col p-grid p-nogutter p-align-center">
        <i (click)="goToHome()" class="fa fa-github"></i>
    </div>

    <nav class="p-col-fixed p-grid p-nogutter p-align-center header-nav-wrap">
        <ng-template [ngIf]="!isLoggedIn" [ngIfElse]="logOut">
            <ul class="header-main-nav">
                <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
                <li><a class="smoothscroll"  href="#pricing" title="pricing">Pricing</a></li>
                <li><a class="smoothscroll"  href="#repos" title="repos">Repos</a></li>
                <li><a class="smoothscroll"  href="#footer" title="papers">Papers</a></li>
            </ul>
            <button (click)="login()" pButton label="Sign in with Orcid" class="ui-button-rounded ui-button-secondary"></button>
        </ng-template>

        <ng-template #logOut>
            <button (click)="logOutPage()" pButton label="Logout" class="ui-button-rounded ui-button-secondary"></button>
        </ng-template>

    </nav>
</header> <!-- /header -->
