<app-navbar></app-navbar>
<div class="home p-grid p-dir-col  p-nogutter">

    <h1 class="p-col-fixed">Journal of Research Object</h1>

    <p class="p-col">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
    </p>

    <div class="p-col-fixed p-grid p-justify-center">
        <button pButton label="Add a new repo" class="ui-button ui-button-secondary"></button>
        <button pButton label="Review a repo" class="ui-button ui-button-secondary"></button>
    </div>

</div>
<div class="about p-grid p-dir-col  p-nogutter">
    <h2>About US</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac dui ac quam consequat iaculis.
        Pellentesque rhoncus vel elit quis varius. Vivamus vitae enim nisi. Pellentesque in semper libero. Maecenas
        viverra, mauris consequat malesuada faucibus, diam est iaculis lacus, vitae vulputate sem urna vel risus. Etiam
        ultrices ex ut odio semper suscipit. Nam accumsan, eros ac vestibulum eleifend, risus arcu gravida mauris, nec
        ullamcorper est massa quis diam. Ut vestibulum, tortor vitae tempus vestibulum, ante magna fermentum libero, id
        dignissim nunc erat vitae magna. Pellentesque tincidunt mi quis nulla pharetra posuere malesuada vitae neque.
        Praesent nec felis fermentum, dapibus neque sit amet, consequat ante. Etiam pharetra tortor viverra posuere
        rutrum. Suspendisse volutpat turpis ultricies, iaculis orci quis, vulputate nunc.
        <br><br>
        Nulla non ligula leo. Suspendisse potenti. Nunc eu egestas risus. Phasellus et est magna. Quisque eu congue
        risus. Donec in magna ornare, luctus sem nec, tempor neque. Cras sit amet ex eros. Donec et diam finibus,
        scelerisque quam sit amet, mattis quam. Maecenas vehicula, eros et ullamcorper iaculis, purus ligula posuere
        metus, non sollicitudin elit nulla sed dui. Nulla nec nisl at enim tempor cursus. In viverra mi vitae interdum
        tempor. Nunc tempus sodales urna cursus luctus. Vivamus lobortis nulla vulputate, posuere nunc at, vulputate
        neque. Duis luctus vel libero id efficitur. Fusce posuere tempus justo. Ut aliquam sagittis fringilla.
    </p>
</div>

<div class="footer p-grid p-dir-col p-justify-center p-nogutter">
    © 2015 — 2019
</div>
