:host {
    .content {

        .home,
        .repos {
            padding: 3em 0;
        }

        .home {
            .title {
                font-weight: 300;
                font-size: 2em;
                line-height: 1.4em;
            }

            .description {
                font-size: 1.25rem;
                font-weight: 300;
            }
        }

    }
}
