<div class="review p-grid p-nogutter p-dir-col">
    <div class="p-grid p-align-center">
        <div class="p-col">
            <h2>List of repos submitted</h2>
        </div>
        <div class="p-col-fixed">
            <p-dropdown [options]="papersFamilies" [(ngModel)]="paperType" (onChange)="update()"></p-dropdown>
        </div>
    </div>
    <hr />
    <div>
        <ng-template [ngIf]="repos.length > 0" [ngIfElse]="zeroState">
            <app-repo *ngFor="let repo of repos" [repo]="repo">
                <div repo-buttons>
                    <button *ngIf="IAM.editor" pButton (click)="regenAndPublish(repo)" [disabled]="processing[repo.id]"
                        [icon]="processing[repo.id] ? 'pi pi-spin pi-spinner' : 'pi pi-check'" label="Publish"
                        class="ui-button-danger"></button>
                    <button pButton (click)="goToReview(repo)" [disabled]="processing[repo.id]"
                        [icon]="processing[repo.id] ? 'pi pi-spin pi-spinner' : 'pi pi-search'" label="Review"></button>
                </div>
            </app-repo>
            <p-paginator class="cu-nav-paginator" [rows]="10" totalRecords="allRecords"
                (onPageChange)="paginate($event)"></p-paginator>
        </ng-template>
    </div>
    <ng-template #zeroState>
        <app-zero-state></app-zero-state>
    </ng-template>
</div>