<!--<div class="login p-grid p-dir-col p-align-center p-align-center p-col p-nogutter">-->
    <!--<div class="login-container">-->

        <!--<h1 class="p-col-fixed">Sign in to JRO</h1>-->
        <!--<p class="p-col-fixed">Are you Author or Editor</p>-->

        <!--<button pButton id="connect-orcid-button"-->
                <!--label="Create or Connect your ORCID iD"-->
                <!--(click)="onLoggedin()"-->
                <!--class="p-col-fixed ui-button-raised ui-button-secondary p-grid p-align-center">-->
            <!--<img class="p-col" src="http://orcid.org/sites/default/files/images/orcid_24x24.png" alt="ORCID logo"/>-->
        <!--</button>-->
    <!--</div>-->
<!--</div>-->

<div class="loading">
    <div class="spinner"><p-progressSpinner></p-progressSpinner></div>
</div>
