//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0;
    background-color: #F4F4F6;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.forms {
    .required-field {
        &:after {
            content: "*";
            color: red;
            margin-left: 5px;
        }
    }
}
